<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106105676686-77ei8hc1f6se9egpijfree7lkh6j2i48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106105676686-77ei8hc1f6se9egpijfree7lkh6j2i48</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>106105676686-0m6emu73tgr5a2gs6qoih5n7h4eb3501.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBgA6i_IHPE6aayOkgcp3XY1xS16d6mEfA</string>
	<key>GCM_SENDER_ID</key>
	<string>106105676686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>creditconversation.com.creditsConversation</string>
	<key>PROJECT_ID</key>
	<string>credit-converstion</string>
	<key>STORAGE_BUCKET</key>
	<string>credit-converstion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106105676686:ios:f25a379f8dcb05036cbadf</string>
</dict>
</plist>